
/* ページ全体 */

body {
    background-color: #fcf47c;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
img {
    width: 100%;
    object-fit: cover;
    /*aspect-ratio: 16/9;*/
}
header {
    padding-top: 20px;
}
.errorMessage {
    background-color: #ffc0cb;
    text-align: center;
}

/* ヘッダー */

.headerNav {
    display: flex;
    align-items: center;
}
.headerMenu{
    margin: 0 0 0 auto;
}
.logo {
    width: 300px;
}
.navbarNav {
    display: flex;
    width: 90%;
}
.navbarItem {
    margin-right: 40px;
    font-size: 20px;
}

/* フッター */

.pageTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 50%;
}
.pageTopBtn:hover {
    background: rgba(0,0,0,0.8);
    color: #fff;
}

/* トップページ */

.topText {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}
.topImg {
    flex-wrap: wrap;
    display: flex;
}
.imgIndex {
    width: 30%;
    margin-bottom: 30px;
    margin-left: 30px;
    aspect-ratio: 16/9;
}

/* 新規登録 */

.entrance {
    text-align: center;
    font-size: 20px;
}
.pageTitle {
    margin: 30px 0;
}
.signItem{
    margin-bottom: 30px;
    width: 100%;
}
.btn {
    cursor: pointer;
    font-weight: bold;
    width: 8%;
    padding: 8px 0;
    margin-bottom: 20px;
    font-size: 15px;
    border-color: #eb6100;
    color: #fff;
    background-color: #eb6100;
}
.btn:hover {
    color: #fff;
    background: #f56500;
}
.signItemLeft {
    width: 20%;
    display: inline-block;
}
.signItemRight {
    width: 20%;
    padding: 5px;
    background-color: #ffffcc;
    border-color: #444444;
}

/* ログイン後トップページ */

.topNoPost {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.topNoPostMessage {
    margin-top: 60px;
}
.userIcon {
    width: 10%;
}
.userName {
    margin: 20px 0;
}
.iconImg {
    width: 15%;
}
.loginTopPage {
    margin: 0 40px;
}
.loginUser {
    margin-bottom: 80px;
}
.postImg {
    width: 90%;
    margin-top: 10px;
}
.postIndex {
    display: flex;
    flex-wrap: wrap;
}
.cardTop {
    display: flex;
}
.cardTopFlex {
    margin-left: 10px;
}
.postShow {
    background-color: #ffffbb;
    justify-content: center;
    width: 25%;
    padding: 5px;
    margin: 20px;
}
.cardItem {
    margin: 10px 0;
    overflow-wrap: break-word;
}
.cardButton {
    display: flex;
    justify-content: space-between;
}
/*
.bottom_button {
    margin-top: auto;
}
*/
#favorite {
    display: inline-block;
    padding: 3px 5px;
    color: #ff0000;
    background-color: #ffffbb;
    border-color: #ffffee;
    cursor: pointer;
    border: none;
}
#unfavorite {
    display: inline-block;
    padding: 4px 7px;
    color: #ff0000;
    background-color: #ffffbb;
    border-color: #ffffee;
    cursor: pointer;
    border: none;
    font-size: 20px;
}
#delete {
    display: inline-block;
    padding: 4px 7px;
    color: #000;
    background-color: #ffffdd;
    border-color: #ffffee;
    cursor: pointer;
}

/* ユーザ一覧 */

.index_flex {
    display: flex;
}
.indexUserCard {
    margin: 50px 500px;
}
.indexUserIcon {
    width: 30%;
    margin-left: 10px;
}
.indexUserName {
    margin-bottom: 20px;
    margin-left: 10px;
}
.userInfo {
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffdd;
}

/* マイページ */

.showUserIcon {
    width: 15%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.mypageUserName {
    text-align: center;
    font-weight: bold;
    margin: 10px ;
}
.followButton{
    text-align: center;
}
.mypage {
    margin: 0 30px;
}
.logout {
    text-align: right;
}
#logout {
    padding: 5px 0;
}
#follow {
    margin-top: 10px;
    background-color: #ff9900;
    border-color: #ff9900;
    cursor: pointer;
}
#unfollow {
    margin-top: 10px;
    background-color: #FFC7AF;
    border-color: #FFC7AF;
    cursor: pointer;
}
.navtab {
    display: flex;
    justify-content: space-evenly;
    border: 4px ridge rgba(211, 220, 50, .6);
    padding: 10px 0;
}
.editUserIcon {
    text-align: center;
}

.userIconUpload {
    text-align: center;
}
.fileUpload {
    margin-top: 20px;
}
#file {
    cursor: pointer;
    background-color: #ffffee;
}

/* 投稿詳細 */

.showPostFlex {
    margin-top: 20px;
    display: flex;
}
.showPostImg {
    margin: 0 30px;
    width: 50%;
}
.showPostFavorite {
    text-align: right;
    margin-top: 5px;
}
.showPostFlexRight {
    width: 50%;
}
.showPostPosts {
    line-height: 2.0;
    overflow-wrap: break-word;
}
.userIconNameFollow {
    width: 90%;
    margin-top: 10%;
    display: flex;
}
.showPostUserIcon {
    transform: scale(0.5);
}
.showPostIcon {
    height: 0px;
}
.showPostUserName {
    transform: translate(-30px, 10px);
}
.showPostFollow {
    margin-left: auto;
}
.showPostFollowButton {
    width:100px;
}

/* ログイン後トップページ */

.changeButton {
    font-size: 20px;
}
.loginTopButton {
    margin: 20px 0 40px 0;
    justify-content: center;
    display: flex;
}
.allButton {
    margin-right: 10px;
}
.topFollowButton {
    margin-left: 10px;
}
.allFollowButton {
    cursor: pointer;
    background-color: #ffaa00;
    border-color: #ffaa00; 
}